<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bml67.android.a67thmilestonebml">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permissions.NETWORK_ACCESS"/>
    <uses-permission android:name="android.permissions.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <!-- android:name="android.support.multidex.MultiDexApplication" -->

        <activity
            android:name=".Sponsors"
            android:hardwareAccelerated="true"
            android:label="67th Milestone"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:label="67th Milestone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EventsActivity"
            android:hardwareAccelerated="true"
            android:label="Events"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".MyTalkNew"
            android:hardwareAccelerated="true"
            android:label="MyTalk"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".KohamNew"
            android:hardwareAccelerated="true"
            android:label="Koham"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Developers"
            android:hardwareAccelerated="true"
            android:label="Developers"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:hardwareAccelerated="true"
            android:label="Schedule"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Eh"
            android:hardwareAccelerated="true"
            android:label="Electronic Highway"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Parikrama"
            android:hardwareAccelerated="true"
            android:label="Parikrama"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Laughter_t_p"
            android:hardwareAccelerated="true"
            android:label="Laughter Toll Plaza"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".AboutUsNew"
            android:hardwareAccelerated="true"
            android:label="About Us"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".DisclaimerActivity"
            android:hardwareAccelerated="true"
            android:label="Disclaimer"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".AboutTheFestActivity"
            android:hardwareAccelerated="true"
            android:label="About The Fest"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".March1"
            android:hardwareAccelerated="true"
            android:label="1st March"
            android:parentActivityName=".ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleActivity"/>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:hardwareAccelerated="true"
            android:label="Maps"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".March2"
            android:hardwareAccelerated="true"
            android:label="2nd March"
            android:parentActivityName=".ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleActivity"/>
        </activity>
        <activity
            android:name=".March3"
            android:hardwareAccelerated="true"
            android:label="3rd March"
            android:parentActivityName=".ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleActivity"/>
        </activity>
        <activity
            android:name=".March4"
            android:hardwareAccelerated="true"
            android:label="4th March"
            android:parentActivityName=".ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleActivity"/>
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:hardwareAccelerated="true"
            android:label="Contacts"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:hardwareAccelerated="true"
            android:label="Favourites"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:hardwareAccelerated="true"
            android:label="Fee Details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".BeatTheStreet2"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_beat_the_street2"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".MarketMadness"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_market_madness"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".VirtualStockMarket"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_virtual_stock_market"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".ZombieHunt"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_zombie_hunt"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".WriteItUp"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_write_it_up"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".TheatrePhantamonica"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_theatre_phantamonica"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".TheXposure"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_the_xposure"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".Qriosity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_qriosity"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".Perspective"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_perspective"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".BattleOfBands"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_battle_of_bands"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".BMUPitchers"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_bmupitchers"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".FashionCrave"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_fashion_crave"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".Hackathon"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_hackathon"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".AerialDrones"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_aerial_drones"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".BlackBox"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_black_box"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".EventHorizon"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_event_horizon"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".GamingArena"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_gaming_arena"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".LineFollower"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_line_follower"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".LiveTicTacToe"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_live_tic_tac_toe"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".MatlabQuest"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_matlab_quest"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".NerdParadise"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_nerd_paradise"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".RobotusKreig"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_robotus_kreig"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".BMUMasterchef"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_bmumasterchef"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".Grappling"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_grappling"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".MyMilestoneMovie"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_my_milestone_movie"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".Nayavada"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_nayavada"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".NitroSurge"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_nitro_surge"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
        <activity
            android:name=".WomensGotTalent"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_womens_got_talent"
            android:parentActivityName=".EventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsActivity"/>
        </activity>
<activity android:name=".IntroActivity"/>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"/>

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/wwe_logo" />
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

    </application>

</manifest>